#phast-blackout{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

.phast-ui dl + dl{
	margin-top: 7px;
}
.phast-ui dl > dt{
	color: #4682b4;
	font-weight: bold;
	margin-bottom: 3px;
}

::-webkit-input-placeholder  { color: white; }
input:-moz-placeholder { color: white; }

.phast-ui input[type="radio"],
.phast-ui input[type="checkbox"]{
	padding: 0;
	margin: 0 5px 0 0;
}
.phast-ui input[type="radio"]{
	vertical-align: -17%;
}
.phast-ui input[type="checkbox"]{
	vertical-align: -20%;
}

.phast-ui input[type="text"],
.phast-ui input[type="password"],
.phast-ui textarea,
.phast-ui select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 100%;
	padding: 3px 5px;
	border: 1px solid #666;
	color: #666;
	background-color: white;
	border: 1px solid #aaacb2;
	font-family: inherit;
	font-size: 100%;
}
.phast-ui input[type="text"]:hover, .phast-ui input[type="text"]:focus,
.phast-ui input[type="password"]:hover, .phast-ui input[type="password"]:focus,
.phast-ui textarea:hover, .phast-ui textarea:focus,
.phast-ui select:hover, .phast-ui select:focus{
	color: black;
}
.phast-ui input[type="text"]:focus,
.phast-ui input[type="password"]:focus,
.phast-ui textarea:focus,
.phast-ui select:focus{
	/* border-color: black; */
	box-shadow: 0 0 3px #ccc;
}

.phast-ui select option{
	background-color: white;
	color: #666;
	padding: 0 7px;
}
.phast-ui select option:nth-child(odd){
	background-color: #F9F9F9;
}

.phast-ui textarea{
	resize: vertical;
	height: 70px;
}
.phast-ui select{
	padding: 2px 5px;	
}

.phast-ui-button{
	position: relative;
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	text-shadow: none;
	color: #737373;
	background: none;
	background-color: #F0F0EE;
	padding: 5px 10px;
	border: 1px solid #ccc;
}
a.phast-ui-button{
	text-decoration: none;
}
button.phast-ui-button{
	cursor: pointer;
	-webkit-border-fit: lines;
}
button.phast-ui-button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.phast-ui-button:hover{
	background-color: #FFFACD;
	color: black;
}

.phast-ui .icon-delete{ background-image: url(/phast/icons/delete.png) !important; }
.phast-ui .icon-edit{ background-image: url(/phast/icons/edit.png) !important; }
.phast-ui .icon-add{ background-image: url(/phast/icons/add.png) !important; }
.phast-ui .icon-cancel{ background-image: url(/phast/icons/cancel.png) !important; }
.phast-ui .icon-cancel-diff{ background-image: url(/phast/icons/cancel_diff.png) !important; }

.phast-ui .icon-image{ background-image: url(/phast/icons/image.png) !important; }
.phast-ui .icon-image-add{ background-image: url(/phast/icons/image_add.png) !important; }

.phast-ui .icon-folder{ background-image: url(/phast/icons/folder.png) !important; }
.phast-ui .icon-folder-add{ background-image: url(/phast/icons/folder_add.png) !important; }
.phast-ui .icon-user{ background-image: url(/phast/icons/user.png) !important; }
.phast-ui .icon-user-suit{ background-image: url(/phast/icons/user_suit.png) !important; }
.phast-ui .icon-user-red{ background-image: url(/phast/icons/user_red.png) !important; }
.phast-ui .icon-user-gray{ background-image: url(/phast/icons/user_gray.png) !important; }
.phast-ui .icon-component{ background-image: url(/phast/icons/component.png) !important; }
.phast-ui .icon-project-screen{ background-image: url(/phast/icons/project_screen.png) !important; }
.phast-ui .icon-brick{ background-image: url(/phast/icons/brick.png) !important; }
.phast-ui .icon-add-brick{	background-image: url(/phast/icons/add_brick.png) !important; }
.phast-ui .icon-folder-brick{	background-image: url(/phast/icons/folder_brick.png) !important; }
.phast-ui .icon-application{ background-image: url(/phast/icons/application.png) !important; }
.phast-ui .icon-lightning{ background-image: url(/phast/icons/lightning.png) !important; }
.phast-ui .icon-add-lightning{ background-image: url(/phast/icons/add_lightning.png) !important; }
.phast-ui .icon-application-form{ background-image: url(/phast/icons/application_form.png) !important; }
.phast-ui .icon-application-form-add{ background-image: url(/phast/icons/application_form_add.png) !important; }
.phast-ui .icon-application-double{ background-image: url(/phast/icons/application_double.png) !important; }

.phast-ui .icon-ok{ background-image: url(/phast/icons/ok.png) !important; }
.phast-ui .icon-ok-disabled{ background-image: url(/phast/icons/ok-disable.png) !important; }

.phast-ui .icon-user-add{ background-image: url(/phast/icons/user_add.png) !important; }
.phast-ui .icon-user-folder{ background-image: url(/phast/icons/folder_user.png) !important; }
.phast-ui .icon-group-user{ background-image: url(/phast/icons/user_group.png) !important; }
.phast-ui .icon-group-user-add{ background-image: url(/phast/icons/group_add.png) !important; }

.phast-ui .icon-page{ background-image: url(/phast/icons/page.png) !important; }
.phast-ui .icon-list{ background-image: url(/phast/icons/list.png) !important; }
.phast-ui .icon-page-folder{ background-image: url(/phast/icons/folder_page.png) !important; }
.phast-ui .icon-page-add{ background-image: url(/phast/icons/page_add.png) !important; }

.phast-ui .icon-page-link{ background-image: url(/phast/icons/page_link.png) !important; }

.phast-ui .icon-tag{ background-image: url(/phast/icons/tag_blue.png) !important; }
.phast-ui .icon-add-tag{ background-image: url(/phast/icons/tag_blue_add.png) !important; }

.phast-ui .icon-arrow-up{ background-image: url(/phast/icons/arrow_up.png) !important; }
.phast-ui .icon-arrow-right{ background-image: url(/phast/icons/arrow_right.png) !important; }
.phast-ui .icon-arrow-bottom{ background-image: url(/phast/icons/arrow_bottom.png) !important; }
.phast-ui .icon-arrow-left{ background-image: url(/phast/icons/arrow_left.png) !important; }

.phast-ui .icon-plugin{ background-image: url(/phast/icons/plugin.png) !important; }
.phast-ui .icon-plugin-add{ background-image: url(/phast/icons/plugin_add.png) !important; }

.phast-ui .icon-user-comment{ background-image: url(/phast/icons/user_comment.png) !important; }
.phast-ui .icon-comments{ background-image: url(/phast/icons/comments.png) !important; }
.phast-ui .icon-comment{ background-image: url(/phast/icons/comment.png) !important; }
.phast-ui .icon-comment-add{ background-image: url(/phast/icons/comment_add.png) !important; }

.phast-ui .icon-bell{ background-image: url(/phast/icons/bell.png) !important; }
.phast-ui .icon-bell[rel='0']{background-image: url(/phast/icons/bell-opacity.png) !important;}
.phast-ui .icon-bell-add{ background-image: url(/phast/icons/bell_add.png) !important; }

.phast-ui .icon-visible{ background-image: url(/phast/icons/eye.png) !important; }
.phast-ui .icon-hidden{ background-image: url(/phast/icons/eye-disable.png) !important; }

.phast-ui .icon-review{ background-image: url(/phast/icons/review.png) !important; }
.phast-ui .icon-review-done{ background-image: url(/phast/icons/review_done.png) !important; }

.phast-ui .icon-bug{ background-image: url(/phast/icons/bug.png) !important; }
.phast-ui .icon-bug-add{ background-image: url(/phast/icons/bug_add.png) !important; }

.phast-ui .icon-newspaper{ background-image: url(/phast/icons/newspaper.png) !important; }
.phast-ui .icon-newspaper-add{ background-image: url(/phast/icons/newspaper_add.png) !important; }

.phast-ui .icon-phone{ background-image: url(/phast/icons/phone.png) !important; }
.phast-ui .icon-phone-disabled{ background-image: url(/phast/icons/phone-disabled.png) !important; }

.phast-ui .icon-email{ background-image: url(/phast/icons/email.png) !important; }
.phast-ui .icon-email-disabled{ background-image: url(/phast/icons/email-disabled.png) !important; }
.phast-ui .icon-help{ background-image: url(/phast/icons/help.png) !important; }
.phast-ui .icon-help[rel='0']{ opacity: 0.5 !important; }

.phast-ui .icon-reload{ background-image: url(/phast/icons/reload.png) !important; }
.phast-ui .icon-clear{ background-image: url(/phast/icons/clear.png) !important; }

.phast-ui .icon-building{ background-image: url(/phast/icons/building.png) !important; }

.phast-ui .icon-key{ background-image: url(/phast/icons/key.png) !important; }
.phast-ui .icon-key-add{ background-image: url(/phast/icons/key_add.png) !important; }

.phast-ui .icon-play{ background-image: url(/phast/icons/play.png) !important; }
.phast-ui .icon-earth{ background-image: url(/phast/icons/earth.png) !important; }
.phast-ui .icon-green{ background-image: url(/phast/icons/green.png) !important; }

.phast-ui .icon-film{ background-image: url(/phast/icons/film.png) !important; }
.phast-ui .icon-film-add{ background-image: url(/phast/icons/film_add.png) !important; }
.phast-ui .icon-film-link{ background-image: url(/phast/icons/film_link.png) !important; }
.phast-ui .icon-film-go{ background-image: url(/phast/icons/film_go.png) !important; }

.phast-ui .icon-application-side-tree{ background-image: url(/phast/icons/application_side_tree.png) !important; }

.phast-ui .icon-chart-organisation{ background-image: url(/phast/icons/chart_organisation.png) !important; }
.phast-ui .icon-chart-organisation-add{ background-image: url(/phast/icons/chart_organisation_add.png) !important; }

.phast-ui .icon-hourglass{ background-image: url(/phast/icons/hourglass.png) !important; }
.phast-ui .icon-time{ background-image: url(/phast/icons/time.png) !important; }

.phast-ui .icon-none-icon{background-image: none!important; padding-left: 0 !important; }

.phast-ui .icon-loading{ background-image: url(/phast/icons/loading_f.gif) !important; }

.phast-ui .opacity-50{
	opacity: 0.5;
}
.phast-ui .icon-none{
    background-image: none;
    padding-left: 0 !important;
}
